@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

#titlediv {
  left: 10%;
  position: absolute;
  border-radius: 25px;
  padding: 10px;
  width: 80%;
  margin: 5% auto;
  background-color: #f0f0f0;
}

h1, h2, p {
  font-family: 'Readex Pro', sans-serif;
}

h1, h2 {
  text-align: center;
}

p {
  overflow-wrap: break-word;
}

#bkg {
  left: -500px;
  top: -300px;
  position: fixed;
  z-index: -1;
}
