@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap'); /*font-family: 'Akaya Telivigala', cursive;*/

h1, h2, p, a{
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}

ul{
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
}

p{
  font-size: 20px;
}

iframe{
  width: 100%;
  margin: auto;
  display: block;
}

video{
  margin: auto;
  display: block;
}

#title{
  font-size: 64px;
}

#bkg{
  position: fixed;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#main{
  width: 75%;
  height: fit-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: double;
  border-color: black;
}

.header{
  font-size: 48px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#date{
  margin: auto;
  text-align: right;
  font-size: 8px;
}